@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Funnel Display";
}

html,
body {
  height: 100%;
}

button {
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: #000;
}

.upper-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: clamp(0.625rem, 2vw, 1.25rem);
    padding: 1.25rem clamp(1rem, 5vw, 2rem);
    background: rgb(12, 123, 7);
    color: white;
}

.upper-nav div{
    display: flex;
    align-items: center;
    gap: 10px;
}

header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 2;
}

.lower-nav {
  background: #eee;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding: 1.25rem clamp(1rem, 5vw, 2rem);
  font-size: clamp(1rem, 1.25vw, 1.325rem);
}

.lower-nav .logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo h1{
    font-size: clamp(1rem, 2vw, 2rem);
}

.logo img{
    height: clamp(50px, 10vw, 80px);
    object-fit: cover;
}

.lower-nav ul {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 30px;
}

ul {
  list-style: none;
}

ul li a {
  position: relative;
  white-space: nowrap;
}

.lower-nav ul li a::before {
  content: "";
  height: 0.185rem;
  width: 110%;
  transform: scaleX(0);
  translate: -50%;
  position: absolute;
  bottom: -0.3125rem;
  left: 50%;
  background: rgb(7, 149, 16);
  transform-origin: left;
  transition: all 0.3s;
}

.lower-nav ul li a:hover:before {
  transform: scaleX(1);
}

.lower-nav ul li button {
  box-sizing: unset;
  padding: 0.625rem 2.2rem;
  border-radius: 0.625rem;
  background: rgb(7, 149, 16);
  font-size: 1rem;
  transition: all 0.3s;
}

.lower-nav ul li button:hover {
  scale: 1.1;
  background: rgb(12, 123, 7);
}

.ham-burger {
  display: none;
}

.ham-burger-menu {
  min-height: 100vh;
  height: 100%;
  width: 17rem;
  position: fixed;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 2;
  transform: translateX(200vw);
  background: rgb(237, 166, 148);
}

.ham-burger-menu ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0 0 30px;
}

.ham-burger-menu ul li {
  height: 30px;
  display: grid;
  align-items: center;
}

.close-btn{
  padding-right: 50px;
}

.ham-burger-menu button{
  margin-left: auto;
}


.ham-burger-menu.active a {
  font-size: 18px;
  opacity: 0;
  animation: move .625s ease-in-out forwards;
  animation-delay: calc(var(--i) * 0.1s);
}

@keyframes move {
  from {
    transform: translateX(100vw);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.ham-burger-menu.active {
  transform: translateX(0);
}


@media only screen and (max-width: 980px) {
    .lower-nav ul .link {
      display: none;
    }
  
    .lower-nav ul{
      gap: 10px;
    }
  
    .ham-burger {
      display: block;
    }
  }